/* src/NavBar.css */
.NavBar {
  background-color: #f8f9fa;
  padding: 1rem;
}

.navbar-nav .nav-item .nav-link {
  margin-right: 1rem;
  color: #007bff;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.navbar-brand {
  color: #007bff;
}

.navbar-brand:hover {
  color: #0056b3;
}